.trip-card {
  display: flex;
  flex-direction: column;
  height: 600px;
  border: 1px solid #ddd;
  margin-bottom: 1px; /* Adds space between the bottom of each card */

}

.trip-card .card-img-top {
  display: block;
  height: 350px; /* Increase the height for images */
  width: 100%;
  object-fit: cover; /* Ensures image covers the space without distortion */
}

.trip-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start content from the top */
  flex-grow: 1; /* Allow card body to grow and fill the remaining space */
  padding: 10px 0; /* Padding inside the card body */
  line-height: 1; /* Adjust this value to decrease or increase line spacing */
}

.trip-card .card-title {
  margin-bottom: 10px; /* Adjust spacing as needed */
}

.trip-card .card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limits text to 2 line */
  flex-grow: 1; /* Ensure text takes up available space */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px; /* Add space between text and footer */
}

.trip-card .card-footer {
  display: flex;
  margin-top: auto; /* Push footer to the bottom */
  justify-content: space-between;
}

.trip-card .btn {
  margin-bottom: 0; /* Remove margin at the bottom of the button */
  padding-bottom: 0.75rem; /* Adjust padding if needed */
}
