.user-trip-card {
  height: 570px !important; /* Set the height of the card */
  border: 1px solid #ddd; /* Adds a border around the card */
  margin-bottom: 1px; /* Adds space between the bottom of each card */
}

.user-trip-card .card-img-top {
  height: 360px; /* Increase the height for images */
  width: 100%; /* Make the image take up the full width of its container */
  object-fit: cover; /* Ensures image covers the space without distortion */
}

.user-trip-card .card-body {
  display: flex; /* Set the card to a flexible box layout */
  flex-direction: column; /* The flexible items are displayed vertically, as a column */
  /* flex-grow: 1; Allow card body to grow and fill the remaining space */
  padding: 10px 0; /* Padding inside the card body */
  line-height: 1; /* Adjust this value to decrease or increase line spacing */
}

.user-trip-card .card-title {
  margin-bottom: 10px; /* Adjust spacing as needed */
}

.user-trip-card .card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;  /* Limits text to 2 line */
  flex-grow: 1;  /* Ensure text takes up available space */
  overflow: hidden;  /* Hide any text that overflows the container */
  text-overflow: ellipsis;  /* Add an ellipsis (...) to indicate overflowing text */
  margin-bottom: 17px;  /* Add space between text and footer */
}

.user-trip-card .card-footer {
  margin-top: auto; /* Push footer to the bottom */
}

.user-trip-card .btn.btn-primary {
  padding-bottom: 0.53rem; 
}

.user-trip-card .btn.btn-danger {
  padding-bottom: 0.53rem; 
}
